body {
    background-color: #E5E5E5;
    width: 100%;
}

section {
    padding: 100px 0;
}

.link1 {
    color: rgba(97, 210, 231, 1);
    font-size: 16px;
    font-weight: 400;
}

.h1 {
    font-size: 30px;
    font-weight: 700;
    line-height: 42px;

}

.linea {
    line-height: 1px;
    width: 10%;
}

.color {
    color: rgba(96, 147, 203, 1) ;
}

.section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

.section1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 200px;
}

.navbar {
    background-color: #ffffff;
    color: #222222;
    padding: 0 50px;
    font-size: 12px;

}

.navbar-brand {
    margin-right: 60px;
}

.nav-link {
    color: #222222;
    font-weight: 500;
    margin-right: 10px;

}

.btn-out {
    color: rgba(96, 147, 203, 1);
    border: 1px solid rgba(96, 147, 203, 1);
    font-size: 13px;
    font-weight: 500;
    width: 90px;
}

.btn1 {
    background-color: rgba(96, 147, 203, 1);
    color: #ffffff;
    font-size: 13px;
    font-weight: 500;
    height: 34px;
    margin-left: 13px;
    text-align: center;
    width: 90px;
    text-decoration: none;
}

.btn2 {
    background-color: rgba(96, 147, 203, 1);
    color: #ffffff;
    width: 197px;
    height: 43px;
    font-size: 20px;
    text-align: center;
}

.btn3 {
    background-color: rgba(96, 147, 203, 1);
    color: #ffffff;
    width: 123px;
    height: 32px;
    font-size: 15px;
    margin-top: 20px;
    
}

.parrafo {
    width: 410px;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    align-content: center;
}

.serviceimg {
    width: 435px;
    height: 435px;
}

.serviceicn {
    width: 53px;
    height: 53px;
    border: 5px solid rgba(97, 210, 231, 0.75);
    border-radius: 50%;
    font-size: 25px;
    margin-bottom: 13px;
    padding: 5px;
    text-align: center;
    background-color:rgba(97, 210, 231, 1);
    color: #ffffff;
}

.bg {
    background-color: #F0F5FA;
}

.ico {
    font-size: 20px;
    text-align: center;
    margin-top: 65px;
}

.icon {
    color: #222222;
    font-size: 60px;
}

footer {
    background-color: rgba(57, 84, 134, 1);
    color: #ffffff;
    padding-top: 45px;
    padding-bottom: 5px;
}

.pais {
    display: flex;
    text-align: center;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.7);
}

.pais1 {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.link {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
    font-size: 13px;
    font-weight: 400;
    list-style: none;
    margin-bottom: 15px;
}

.foot {
    color: rgba(255, 255, 255, 0.7);
    font-size: 11px;
    text-align: center;
}

